<div class="flex gap-2 items-center mb-5">
    <span class="font-bold">To :</span>
    <div class="flex items-center gap-1">
        <img src="{{recipient.profile.avatar}}" class="w-10 h-10 rounded-full object-cover mr-1" alt="">
        <div class="font-bold">{{recipient.profile.name}}
            <span class="text-xs font-normal text-zinc-500">@{{recipient.username}}</span>
        </div>
    </div>
</div>

<div class="mb-5">
    <form action="{% url 'inbox-newmessage' recipient.id %}" method="post">
        {% csrf_token %}
        {{new_message_form}}
        <button type="submit" class="mt-1">Submit Message</button>
        <a href="{{request.META.HTTP_REFERER}}" @click="modal_open = false" class="button secondaryAction ml-1 cursor-pointer" _="on click reset() the closest <form/>">Cancel</a>
    </form>
</div>